/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Work Sans', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
	background-color: #d9e4ea; /*MOE*/
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
	font-family: 'Roboto', sans-serif;
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3 {
	margin-top: 0;
	
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

.container {
	max-width: 95%;
	margin: 0 auto;
}

.btn-white {
	
	background-color: transparent;
	padding: 15px 25px;
	border: #fff solid 2px;
	border-radius: 100px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
}
/*
.btn-white a {
	display: block;
	color: #fff;
	background-color: transparent;
	padding: 10px 20px;
	border: #fff solid 1px;
	border-radius: 100px;
	font-size: 16px;
	text-transform: uppercase;
}*/

.btn-white:hover, .btn-white:focus, .btn-white:active {
	color: #000;
	background-color: #fff;
	transition-duration: 0.4s;
}

.btn-black {
	color: #fff;
	background-color: #000;
	padding: 15px 25px;
	border: #000 solid 2px;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 16px;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 40px;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */


.main-nav {
	margin-top: 5px;
	
}

.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
	color: #fff;
	text-transform: uppercase;

    font-size: .85em;
    font-weight: 600;
    letter-spacing: .1em;
    line-height: 2em;
}

.main-nav a:hover {
	color: grey;
	transition-duration: 0.2s;
}

/* ---- Layout Containers ---- */

.main-header {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/header.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
	padding-top: .5em;
	padding-bottom: .5em;
}

.main-header__menu-page {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/main-menu-header.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	min-height: 75vh;
	padding-top: .5em;
	padding-bottom: .5em;
}

.menu-section{
	text-align: center;
	
}



.header-intro {
	color: #fff;
	font-size: 40px;
	text-align: center;
	padding-top: 100px;
}
/* ---- Section Traditional ---- */
.section-traditional {
 text-align: center;
 padding: 100px 0;
}

h3 {
	color: #fc8422;
	text-transform: uppercase;
	font-size: 30px;
}

.carousel {
	align-items: center;
	display: flex;
	margin: 2rem auto;
	overflow: hidden;
	position: relative;
	width: 900px;
  
  }
  
  .carousel__images {
	display: flex;
	transform: translateX(0);
	transition: transform 0.25s;
  }
  
  .carousel__button {
	background: black;
	color: white;
	height: 3rem;
	width: 3rem;
	font-size: 1.5rem;
	font-weight: bold;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	opacity: 0.25;
	position: absolute;
	transition: opacity 0.25s;
	z-index: 1;
  
  
  }
  
  .previous {
	left: 5px;
  }
  
  .next {
	right: 5px;
  }
  
  .previous:hover, .next:hover {
	opacity: 0.5;
  }


/* ---- Section White Section ---- */

.section-white-bg {
	text-align: center;
	padding-top: 100px;
}
/*photo gallery*/
.photo-gallery {
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	width: 100%;
	justify-content: center;
}
.g-img {
	background-color: brown;
	height: 200px;
	width: 300px;
}
.g-img img {
	
	width: 100%;
	height: 100%;
	padding: 3px;
	object-fit: cover;
	object-position: top;
	
}

.swb-2 {
	padding: 50px 0;
}



/* ---- Section image background ---- */
.section-img-bg-dwu {
	background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/dine.jpg);
}
.section-img-bg-sit {
	background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/stay-in-touch.jpg);
}
.section-img-bg-dwu,
.section-img-bg-sit {
	
	background-blend-mode: darken;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	text-align: center;
	color: #fff;
	font-size: 22px;
	font-weight: 600;
}
.section-img-bg-dwu h2,
.section-img-bg-sit h2 {
	color: #fff;
	font-size: 70px;
	font-weight: 100;
	letter-spacing: 5px;
	text-transform: uppercase;
	padding-top: 10%;
}

/* ---- Footer ---- */

.main-footer {
	padding: 100px 0;
	background-color: #000;
	color: #fff;
	text-align: center;
}

.footer-nav {
	max-width: 600px;
	margin: 0 auto;
}

.ul-footer-nav {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: space-around;
	padding-bottom: 50px;
	

	
	
}

.ul-footer-nav li {
	text-transform: uppercase;
	color: #fc8422;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 3px;
	padding: 3px 0;
	margin: 2px 0;
	
}

.footer-icons ul {
	display: flex;
	justify-content: space-between;
	max-width: 200px;
	margin: 0 auto;
	
}

.footer-icons i {
	background-color: #fff;
	color: #000;
	padding: 10px;
	border-radius: 100px;
	width: 36px;

}
.footer-p {
	text-transform: uppercase;
}




/* ================================= 
  Media Queries
==================================== */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {	
	.container,
	.row {
		width: 90%;
		margin: 0 auto;
	}
	.tagline {
		font-size: 1.4em;
	}

	.main-nav, .container{
		display: flex;
	  }
	  .container {
		flex-direction: column;
		align-items: center;
	  }
/*photo gallery*/
	  .g-img {
		flex: 1 50%;
		}
/*footer*/
		.ul-footer-nav {
			flex-direction: row;
			
		}

	
	}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {	
	.container,
	.row {
		width: 90%;
		max-width: 1500px;
	}

	.container{
		flex-direction: row;
		justify-content: space-between;
	  }
/*photo gallery*/
	  .g-img {
		flex-basis: 0;
	}
}



/*M O E*/

.logo{
	max-width: 400px;
	max-height: 100px;
}
	

/*******
vidi u futeru LI na telefonskoj verziji su preko celog ekrana deo koji  moze da se stisne


*******/

