/* ================================= 
  Media Queries
==================================== */
/*
@media (min-width: 769px) {
  .main-nav {
    display: flex;
    justify-content: center;
  }
	

}

@media (min-width: 1025px) {
  .main-header {
    display: flex;
    justify-content: space-between;
  }
}
*/
/*NJIHOVA VERZIJA*/

@media (min-width: 769px){

  
}

@media (min-width: 1025px){


}